body {
  margin: 0;
  padding: 0;
  transition: all 1s ease; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  height: 100vh; }

header {
  background-color: #bada55;
  grid-column: 1;
  grid-row: 1; }

main {
  background-color: blue;
  grid-column: 1;
  grid-row: 2; }

nav {
  background-color: white;
  overflow: auto; }

footer {
  background-color: teal;
  grid-column: 1; }

@media only screen and (orientation: landscape) {
  .grid-container {
    grid-template-columns: 25% auto;
    grid-template-rows: 100px 1fr 100px; }
  nav {
    grid-column: 2;
    grid-row: 1 / span 3; }
  footer {
    grid-row: 3; } }
