// Variables & Imports
$grey: #DDD;
$white: rgba(255,255,255,1);
$transparent: rgba(255,255,255,0); // Styles
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900'); // Styles

* {
  margin: 0;
  padding: 0;
  font-size: 12;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  &::selection { background: #bada55; }
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 1fr;
  grid-gap: 0 0;
  height: 100vh;
}

header {
  background-color: $white;
  grid-column: 2 /span 10;
  grid-row: 1;
  display: flex;
  justify-content: end;
  justify-self: center;
  padding-left: 40px;

  ul {
    user-select: none;
  }

  li {
    color: rgba(0,0,0,0.2);
    margin-right: 35px;
    list-style-type: none;
    display: inline;
    line-height: 100px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
    user-select: none;

    &:hover {
      color: rgba(0,0,0,0.4);
    }

    i {
      font-size: 30px;
    }
  }
}

main {
  background-color: $white;
  grid-column: 1 /span 12;
  grid-row: 2;
  overflow: auto;
  padding-left: 40px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  justify-self: center;

  .card {
    display: inline-block;
    background-color: $grey;
    cursor: pointer;
    transition: opacity 2s ease;

    &.square {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
      margin-right: 10px;
    }

    &.invisible {
      opacity: 0 !important;
    }

    &.wide {
      width: 280px;
      height: 180px;
      margin-bottom: 30px;
      margin-right: 30px;
      padding-left: 15px;
      border-radius: 2px;
      box-shadow: -16px 0 24px 2px rgba(0, 0, 0, 0.07), -6px 0 30px 5px rgba(0, 0, 0, 0.06), -8px 0 10px -5px rgba(0, 0, 0, 0.15);

      h1 {
        margin-top: 135px;
        margin-right: 10px;
        text-align: right;
        font-size: 20px;
      }

      h2 {
        margin-top: 0px;
        margin-right: 10px;
        text-align: right;
        font-size: 10px;
      }
    }

    &.product {
      width: 200px;
      height: 200px;
      margin-bottom: 30px;
      margin-right: 30px;
      padding-left: 15px;
      border-radius: 4px;
      background-size: 100%;
      box-shadow: -16px 0 24px 2px rgba(0, 0, 0, 0.07), -6px 0 30px 5px rgba(0, 0, 0, 0.06), -8px 0 10px -5px rgba(0, 0, 0, 0.15);

      h1 {
        display:none;
      }

      h2 {
        display:none;
      }
    }

    &.strip {
      background-color: $grey;
      display: block;
      flex-basis: 90%;
      min-width: 100px;
      height: 60px;
      margin-bottom: 10px;
    }

    &.hidden {
      display: none !important;
    }
  }
}
// Right Menu

aside {
  background: linear-gradient(to bottom, #beefed 260px, rgba(255,255,255,1) 0px);
  grid-column: 8 /span 12;
  grid-row: 1 /span 2;
  box-shadow: -16px 0 24px 2px rgba(0, 0, 0, 0.07), -6px 0 30px 5px rgba(0, 0, 0, 0.06), -8px 0 10px -5px rgba(0, 0, 0, 0.15);
  justify-self: start;
  z-index: -1;
  width: 100%;
  margin-left: 100%;
  transition: margin 0.5s ease;
  display: none;
  overflow: auto;

  .invisible {
    opacity: 0 !important;
  }

  &.show {
    margin-left: 0;
  }

  .top {
    grid-row: 1;
    grid-column: 1;

    &.color {
      justify-self: center;
      align-self: center;
      opacity: 1;
      display: none;
      // background: linear-gradient(to bottom, yellow 180px, rgba(255,255,255,0) 0px);
      width: 100%;
      height: 100%;

      &.block{
        display:block;
      }

    }

    &.filter {
      justify-self: center;
      align-self: start;
      opacity: 1;
      display: none;
      transition: opacity .3s ease;


      &.block{
        display:block;
      }

      h1 {
        margin: 290px -20px 50px;
        text-transform: uppercase;
        font-size: 45px;
        color: rgb(51,51,51);
      }

      .filters {
        width: 300px;
        margin-top: 15px;


        .switch {
          margin: 20px 0px;
          transition: opacity 0.0s ease;



          &.featured, &.word-bank {
            margin-top: 55px;
          }

          &.word-bank{
            margin: 60px 0px 30px 0;
          }

        }
      }
    }
  }

  .middle {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: start;

    .description {
      margin-top: 20px;
      width: 300px;
      opacity: 1;
      display: none;


      &.block{
        display:block;
      }

      h1, h2, .mug {
        transition: opacity 0.0s ease;
      }

      h1#color {
        display: block;
        margin: -30px 110px 20px 0;
        color: rgba(51,51,51,1);
        font-size: 45px;
        text-align: right;
      }

      h1#heading {
        margin: -20px 110px 20px 0;
        font-size: 18px;
        color: rgba(51,51,51,1);
        text-align:left;
      }

      h1#swag {
        margin: 40px 110px 20px 0;
        font-size: 18px;
        color: rgba(51,51,51,1);
        text-align:left;
      }

      h2#name {
        margin: -20px 110px 100px 0;
        font-size: 16px;
        color: rgba(51,51,51,1);
        text-align:right;
      }

      h2#decimal, h2#percent {
        margin: 0px 0px 0px 0px;
        font-size: 14px;
        color: rgba(51,51,51,1);
        text-align:left;
      }



      .mug {
        // background-image: url("");
        margin: 30px 0px -100px -10px;
        background-size: 100%;
        border-radius: 20px;
        border: 1px solid rgba(0,0,0,0.05);
        width: 220px;
        height: 220px;
        // display: none;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

        &.pointer {
          cursor: pointer;
        }
      }

    }
  }

  .bottom {
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
    align-self: center;

    .favorite {
      border-radius: 10px;
      border: 2px solid rgba(51,51,51,0.5);
      color: #515151;
      font-size: 15px;
      text-transform: uppercase;
      padding: 15px;
      cursor: auto;
      transition: all 0.3s ease;
      display: none;
      opacity: 0;


      &.block{
        display:block;
      }

      &:hover {
        background-color: rgb(51,51,51);
        // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        color: rgb(200,200,200);
      }
    }
  }
  //   .name {
  //     width: 250px;
  //     margin: 30px auto;
  //   }
  //
  //   .description {
  //     line-height: 20px;
  //     width: 250px;
  //     background-color: rgba(0,0,0,0.0);
  //     font-size: 10px;
  //     margin: auto;
  //
  //     li {
  //       list-style-type: none;
  //     }
  //   }
  // }
}

.fade {
  background-color: rgba(0,0,0,0.5);
  grid-column: 1 /span 12;
  grid-row: 1 /span 2;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;

  &.show {
    opacity: 1;
  }
}

.full-screen {
  grid-column: 1 /span 12;
  grid-row: 1 /span 2;
  z-index: -1;
  opacity: 0;
  transition: all 1s ease;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 200px;
  grid-gap: 0 0;
  height: 100vh;
  width: 100%;


  &.show {
    opacity: 1;
  }

  .top {
    justify-self: start;
    align-self: start;

    &.left {
      grid-row: 1;
      grid-column: 1;
    }

    .esc {
      background-color: rgba(255,255,255,1);
      border-radius: 10px;
      color: #bada55;
      font-size: 10px;
      padding: 10px;
      width: 50px;
      cursor: pointer;
      margin: 30px;
      transition: all 0.5s ease;

      &:hover {
        background-color: rgba(255,255,255,.75);
      }
    }
  }

  .middle {
    justify-self: center;
    align-self: center;

    &.left {
      grid-row: 2;
      grid-column: 1;
    }

    &.center {
      grid-row: 2;
      grid-column: 2;
    }

    &.right {
      grid-row: 2;
      grid-column: 3;
    }

    .arrow {
      color: rgba(255,255,255,1);
      font-size: 90px;
      transition: all 0.5s ease;
      cursor: pointer;

      &:hover {
        color: rgba(255,255,255,.75);
      }
    }

    .card {
      background: linear-gradient(to bottom, #beefed 200px, rgba(255,255,255,1) 0px);
      border-radius: 6px;
      color: #bada55;
      font-size: 20px;
      padding: 70px;
      width: 360px;
      height: 150px;
      text-align: center;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

      h1, h2 {
        text-align: right;
        margin-right: -50px;
        color: rgba(51,51,51,1)
      }

      h1{
        font-size: 45px;
        margin-top: 135px;
      }
      h2{
        font-size: 25px;
        margin-top: -5px;
      }
    }
  }

  .bottom {
    justify-self: center;
    align-self: end;

    &.center {
      grid-row: 3;
      grid-column: 2;
    }

    .space {
      background-color: rgba(255,255,255,1);
      border-radius: 8px;
      color: #bada55;
      font-size: 10px;
      padding: 15px;
      width: 500px;
      margin-bottom: 30px;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: rgba(255,255,255,.75);
      }
    }
  }
}

.z4 {
  z-index: 4 !important;
  display: block !important;
}

.z5 {
  z-index: 5 !important;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 300px 1fr 100px;
  grid-gap: 0 0;
  height: 100vh;
  width: 100%;
}

.z6 {
  z-index: 5 !important;
}







// Materialize lever style from  https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css
.switch,
.switch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch label {
  cursor: pointer;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked + .lever:after,
.switch label input[type=checkbox]:checked + .lever:before {
  left: 18px;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #26a69a;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch label .lever:after,
.switch label .lever:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left 0.3s ease, background 0.3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: left 0.3s ease, background 0.3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease, transform 0.1s ease;
  transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease, transform 0.1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
}

.switch label .lever:before {
  background-color: rgba(38, 166, 154, 0.15);
}

.switch label .lever:after {
  background-color: #F1F1F1;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(38, 166, 154, 0.15);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(0, 0, 0, 0.08);
}

.switch input[type=checkbox][disabled] + .lever {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.12);
}

.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
  background-color: #949494;
}
