// Variables & Imports

$grey: #DDD;
$white: rgba(255,255,255,1);
$transparent: rgba(255,255,255,0);


@keyframes slide-in {
  0% {
    z-index: -1;
    width: 0%;
  }
  1% {
    z-index: 5;
    width: 0%;
  }
  100% {
    z-index: 5;
    width: 100%;
  }
}

@keyframes slide-out {
  0% {
    z-index: 4;
    width: 100%;
  }
  99% {
    z-index: 4;
    width: 0%;
  }
  100% {
    z-index: -1;
    width: 0%;
  }
}



@keyframes grey-fade-in {
  0% {
    z-index: -1;
    opacity: 0%;
  }
  1% {
    z-index: 4;
    opacity: 0%;
  }
  100% {
    z-index: 4;
    opacity: 100%;
  }
}
@keyframes grey-fade-out {
  0% {
    z-index: 4;
    opacity: 100%;
  }
  99% {
    z-index: 4;
    opacity: 0%;
  }
  100% {
    z-index: -1;
    opacity: 0%;
  }
}



// Styles

body {
  margin: 0;
  padding: 0;
  transition: all .5s ease;
  font-size: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 1fr;
  grid-gap: 0px 0px;
  height: 100vh;
}



nav {
  background-color: darken($white, 22%);
  grid-column: 1 /span 3;
  grid-row: 1 /span 2;
  box-shadow:
    16px 0px 24px 2px rgba(0, 0, 0, 0.14),
    6px 0px 30px 5px rgba(0, 0, 0, 0.12),
    8px 0px 10px -5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  margin-top: -2px;
  margin-bottom: -2px;


  li {
    font-size: 20px;
  }

}

header {
  background: linear-gradient(darken($white,7%), $transparent);

  grid-column: 4 /span 12;
  grid-row: 1;

  li {
    font-size: 10px;
  }
}

main {
  background-color: $white;
  grid-column: 4 /span 12;
  grid-row: 2;
  overflow: auto;
  padding-left: 40px;
  padding-top: 20px;


  .card {
    display: inline-block;
    background-color: $grey;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}


// Right Menu
aside {
  background-color: darken($white, 2%);
  grid-column: 8 /span 12;
  grid-row: 1 /span 2;
  box-shadow:
    -16px 0px 24px 2px rgba(0, 0, 0, 0.07),
    -6px 0px 30px 5px rgba(0, 0, 0, 0.06),
    -8px 0px 10px -5px rgba(0, 0, 0, 0.15);
  margin-top: -2px;
  margin-bottom: -2px;
  // transition: width .5s ease;
  justify-self: end;
  z-index: -1;
  width: 0%;
  animation: slide-out 0.2s ease 0.2s both;

   &.unhidden {
     animation: slide-in 0.2s ease 0.2s both;
   }

}

.grey-fade {
  background-color: rgba(0,0,0,0.4);
  grid-column: 1 /span 12;
  grid-row: 1 /span 2;
  z-index: 4;
  opacity: 0;

  &.unhidden {
    animation: grey-fade-in 0.2s ease 0.2s both;
  }
}
