// Variables & Imports

$grey: #DDD;
$white: rgba(255,255,255,1);
$transparent: rgba(255,255,255,0);





// Styles

body {
  margin: 0;
  padding: 0;
  transition: all 1s ease;
  font-size: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 100px 1fr 100px;
  grid-gap: 0px 0px;
  height: 100vh;
}



nav {
  background-color: darken($white, 22%);
  grid-column: 1;
  grid-row: 1 /span 3;
  box-shadow:
    16px 0px 24px 2px rgba(0, 0, 0, 0.14),
    6px 0px 30px 5px rgba(0, 0, 0, 0.12),
    8px 0px 10px -5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  margin-top: -2px;
  margin-bottom: -2px;


  li {
    font-size: 20px;
  }

}

header {
  background: linear-gradient(darken($white,7%), $transparent);
;
  grid-column: 2;
  grid-row: 1;

  li {
    font-size: 10px;
  }
}

main {
  background-color: $white;
  grid-column: 2;
  grid-row: 2 /span 3;
  overflow: auto;
  padding-left: 40px;
  padding-top: 20px;



  .card {
    display: inline-block;
    background-color: $grey;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
